
html {
  background: rgb(100,100,125);
  color: white;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

canvas {
  width: 90%;
  aspect-ratio: 1;
  border: solid black 1px;
  margin: auto;
  border-radius: 20px;
}