
html {
  background: rgb(100,100,125);
  color: white;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
}

body {
  display: flex; 
  flex-direction: column;
}

.canvas-container {
  position: relative;
}

canvas {
  display: flex;
  position: relative;
  width: 95%;
  /* height: 83vh; */
  aspect-ratio: 1;
  border: solid black 1px;
  margin: auto;
  border-radius: 20px;
 
}

.context-menu {
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 10;
  /* padding: 4px; */
  color: #DDD;
  background: rgba(32, 32, 32, 0.9);
  font-size: 20px;
  user-select: none;
  /* border: solid red 1px; */
  /* backdrop-filter: blur(2px); */
}

.context-menu-item {
  display: none;
  flex-direction: row;
  /* margin: 2px; */
  padding: 5px;
  /* border: solid green 1px; */
}

.context-menu-item:hover {
  backdrop-filter:brightness(2);
}

.icon {
  padding-right: 5px;
}