* {
  /* box-sizing: border-box; */
}

html {
  background-image: linear-gradient(hsl(226, 25%, 30%), hsl(227, 35%, 15%));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
}

header {
  /* border: solid green 1px; */
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.15));
}

.logo-bar {
  display: flex;
  margin: auto;
  align-items: center;
  width:fit-content;
  /* border: solid red 1px; */
}

.logo {
  margin: 5px;
}

.surface {
  /* font-size: 50%; */
  text-align: left;
}

h1 {
  margin: 5px;
}

body {
  display: flex; 
  /* margin: 0; */
  flex-direction: column;
}

/* Custom scrollbar \/ */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0) rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  width: 12px;
  background-image: linear-gradient(hsl(227, 25%, 30%), hsl(227, 35%, 15%));
}

*::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 3px solid rgba(0,0,0,0);
}
/* Custom scrollbar /\ */

.canvas-container {
  position: relative;
}

.node-line {
  display: flex;
  /* border: solid red 1px; */
  font-size: 16px;
  align-items: center;
}

.caret-icon {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: rgba(255, 255, 255, 0.5);
  transition: transform;
  transition-duration: 100ms;
  user-select: none;
  /* border: solid green 1px; */
}

.caret-icon::before {
  content: "";
  position:absolute;
  inset: 0;
  border-radius: 5px;
  /* border: solid red 1px; */
}

.node-container {
  display: flex;
  position: relative;
  box-sizing: border-box;
  height: 26px;
  align-items: center;
  border-radius: 6px;
  /* border: solid green 1px; */
}

.node-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  /* border: solid red 1px; */
}

.node-key {
  margin-left: 5px;
  margin-right: 5px;;
}

.node-value {
  margin-right: 5px;
  color: darkseagreen;
}

.node-spacer {
  margin-right: 5px;
  color: white;
}

.node-size {
  margin-right: 5px;
  color: tan;
}

.label {
  display: inline-block;
  white-space: nowrap;
  border: solid green 1px;
}

.caret-icon:hover::before,
.node-container:hover::before,
.highlight {
  background-color: rgba(255,255,255,0.1);
  border: solid rgba(255,255,255,0.75) 2px;
  transition: background-color border;
  transition-duration: 100ms;
  cursor: pointer;
}

/* Handles rotating the caret on expand/collapse */

.expanded .caret-icon {
  transform: rotate(90deg);
}

.collapsed .caret-icon {
  transform: rotate(0deg);
}

.hide {
  display: none;
}

canvas {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 95vw;
  height: 83vh;
  /* aspect-ratio: 1; */
  border: solid black 4px;
  margin: auto;
  border-radius: 30px;
 
}

.context-menu {
  position: absolute;
  /* display: none; */
  flex-direction: column;
  z-index: 10;
  color: #DDD;
  background: rgba(32, 32, 32, 0.9);
  font-size: 20px;
  user-select: none;
}

.context-menu-button {
  display: none;
  flex-direction: row;
}

.context-menu-button:hover {
  backdrop-filter:brightness(2);
}

.context-menu-button-component {
  margin: 5px;
  pointer-events: none;
}

